UXTerm*metaSendsEscape:true
XTerm*metaSendsEscape:true
! xrdb -merge .Xresources
UXTerm*faceName: Ubuntu Mono
!UXTerm*faceName: XTerm
UXTerm*faceSize: 10
UXTerm*antialias: true
UXTerm*background: black
UXTerm*foreground: #cccccc
UXTerm*termName: xterm-256color
*.multiClickTime: 100